<launch>
    <!-- Pin opening Action Servers -->
    <node name="pin_open_bs_action" pkg="pinhandling_manipulation_actions" type="lab_pin_open_bs_server.py" output="screen" />
    <node name="pin_open_bs_traj_action" pkg="pinhandling_manipulation_actions" type="lab_pin_open_bs_traj_server.py" output="screen" />
    <node name="pin_open_bs_last_manoeuvre_action" pkg="pinhandling_manipulation_actions" type="lab_pin_open_bs_final_manoeuvre_server.py" output="screen" />

    <node name="pin_open_bs_face_action" pkg="pinhandling_manipulation_actions" type="lab_pin_open_bs_face_server.py" output="screen" />
    <node name="pin_open_bs_face_traj_action" pkg="pinhandling_manipulation_actions" type="lab_pin_open_bs_face_traj_server.py" output="screen" />
    <node name="pin_open_bs_face_last_manoeuvre_action" pkg="pinhandling_manipulation_actions" type="lab_pin_open_bs_face_final_manoeuvre_server.py" output="screen" />

    <!-- Pin closing Action Servers -->
    <node name="pin_close_bs_action" pkg="pinhandling_manipulation_actions" type="lab_pin_close_bs_server.py" output="screen" />
    <node name="pin_close_bs_traj_action" pkg="pinhandling_manipulation_actions" type="lab_pin_close_bs_traj_server.py" output="screen" />
    <node name="pin_close_bs_linear_motion_action" pkg="pinhandling_manipulation_actions" type="lab_pin_close_bs_linear_motion_server.py" output="screen" />
    <node name="pin_close_bs_last_manoeuvre_action" pkg="pinhandling_manipulation_actions" type="lab_pin_close_bs_final_manoeuvre_server.py" output="screen" />

    <!-- Robot arm state Action Servers -->
    <node name="set_home_position_action" pkg="pinhandling_manipulation_actions" type="set_home_server.py" output="screen" />
    <node name="set_operation_bs_position_action" pkg="pinhandling_manipulation_actions" type="set_operation_bs_server.py" output="screen" />
    <node name="set_operation_bs_face_position_action" pkg="pinhandling_manipulation_actions" type="set_operation_bs_face_server.py" output="screen" />
    <node name="set_operation_bs_close_position_action" pkg="pinhandling_manipulation_actions" type="set_operation_bs_close_server.py" output="screen" />
</launch>