<launch>
    <!-- Pin opening Action Servers -->
    <node name="pin_open_bs_action" pkg="pinhandling_manipulation_actions" type="pin_open_bs_server.py" output="screen" />
    <node name="pin_open_bs_traj_action" pkg="pinhandling_manipulation_actions" type="pin_open_bs_traj_server.py" output="screen" />

    <!-- Pin closing Action Servers -->
    <node name="pin_close_bs_action" pkg="pinhandling_manipulation_actions" type="pin_close_bs_server.py" output="screen" />
    <node name="pin_close_bs_traj_action" pkg="pinhandling_manipulation_actions" type="pin_close_bs_traj_server.py" output="screen" />

    <!-- Robot arm state Action Servers -->
    <node name="set_home_position_action" pkg="pinhandling_manipulation_actions" type="set_home_server.py" output="screen" />
</launch>